<!DOCTYPE html>
<html>

<head>
    <title>test vue</title>
</head>

<body>

	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input type="text" id="input">
		<button v-on:click="addName">add name</button>
	</div>
</body>

<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
<script type="text/javascript">
	var app = new Vue ({
		el: '#root',
		data: {
			names: ['Joe', 'Marry', 'Jane', 'Jack']
		},

		methods: {
			addName() {
				alert('adding name');
			}
		}

		// mounted() {
		// 	document.querySelector('#button').addEventListener('click', () => {
		// 		let name = document.querySelector('#input');
		// 		app.names.push(name.value);
		// 		name.value = '';
		// 	})
		// }
	})
</script>

</html>